{% extends 'base.html.twig' %}

{% block title %}Zinobe | Directorio {% endblock %}

{% block body %}

<div>
	<h1 class="text-center mb-4">Bienvenido al directorio Zinobe</h1>

	<form method="post" accept-charset="UTF-8" class="my-5">
		<div class="input-group mb-3">
			<input type="text" class="form-control" name="keywords" required placeholder="Ingresa tu búsqueda" value="{{ formData.keywords }}" >
			<div class="input-group-append">
				<button class="btn btn-outline-secondary" type="submit">Buscar</button>
			</div>
		</div>
		<small class="form-text text-danger">{{ formErrors.keywords }}</small>
		<small class="form-text text-success">{{ successMessage }}</small>
	</form>

	{% if queue %}
		<h2 class="mb-4">Listado de búsquedas</h2>
		<a class="btn btn-secondary mb-2" href="{{global.host}}/">Refrescar</a>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">Id</th>
						<th scope="col">Estado</th>
						<th scope="col">Búsqueda</th>
						<th scope="col">Resultados</th>
						<th scope="col">Fecha solicitud</th>
						<th scope="col">Fecha respuesta</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					{% for item in queue %}
						<tr>
							<th scope="row">{{ item.id }}</th>
							<td>{{ item.status }}</td>
							<td>{{ item.keywords }}</td>
							<td>{{ item.results }}</td>
							<td>{{ item.createdAt|date }}</td>
							<td>{% if item.updatedAt %}{{ item.updatedAt|date }}{% endif %}</td>
							<td>{% if item.status == 'done' %} <a href="{{global.host}}/directorio/resultados/{{item.id}}">Ver resultados</a>{% endif %}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% else %}
		<div class="alert alert-info" role="alert">
			Aquí verás la lista de búsquedas que has realizado
		</div>
	{% endif %}

</div>
{% endblock %}