{% extends 'base.html.twig' %}

{% block title %}Zinobe | Resultados {% endblock %}

{% block body %}

<div>
	<h1 class="text-center mb-4">Resultados de búsqueda</h1>

	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{{global.host}}/">Home</a></li>
			<li class="breadcrumb-item active" aria-current="page">Resultados</li>
		</ol>
	</nav>

	{% if results %}
		<h2 class="mb-4">Resultados</h2>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">id</th>
						<th scope="col">Nombre</th>
						<th scope="col">Apellido</th>
						<th scope="col">Email</th>
						<th scope="col">Documento</th>
						<th scope="col">Cargo</th>
						<th scope="col">Teléfono</th>
						<th scope="col">País</th>
						<th scope="col">Estado</th>
						<th scope="col">Ciudad</th>
						<th scope="col">Fuente</th>
					</tr>
				</thead>
				<tbody>
					{% for result in results %}
						<tr>
							<th scope="row">{{ result.id }}</th>
							<td>{{ result.firstName }}</td>
							<td>{{ result.lastName }}</td>
							<td>{{ result.email }}</td>
							<td>{{ result.document }}</td>
							<td>{{ result.jobTitle }}</td>
							<td>{{ result.phone }}</td>
							<td>{{ result.country }}</td>
							<td>{{ result.state }}</td>
							<td>{{ result.city }}</td>
							<td>{{ result.source }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% else %}
		<div class="alert alert-danger" role="alert">
			No se encontraron resultados para tu búsqueda
		</div>
	{% endif %}

</div>
{% endblock %}