{% extends 'base.html.twig' %}

{% block title %}Zinobe | Ingreso {% endblock %}

{% block body %}

<div class="">
	<h1 class="text-center mb-4">Ingreso</h1>

	<form method="post" accept-charset="UTF-8" class="my-5">
		<div class="form-group">
			<label>Email</label>
			<input type="email" class="form-control" name="email" value="{{ formData.email }}">
			<small class="form-text text-danger">{{ formErrors.email }}</small>
		</div>
		<div class="form-group">
			<label>Contraseña</label>
			<input type="password" class="form-control" name="password">
			<small class="form-text text-danger">{{ formErrors.password }}</small>
		</div>
		<small class="form-text text-danger mb-4">{{ formErrors.invalid_credentials }}</small>

		<button type="submit" class="btn btn-primary">Ingresar</button>
	</form>

</div>
{% endblock %}