{% extends 'base.html.twig' %}

{% block title %}Zinobe | Inicio {% endblock %}

{% block body %}

<div class="text-center">
	<h1 class="mb-4">Bienvenido a Zinobe</h1>

	<a href="{{global.host}}/registro" class="btn btn-primary">Registrarse</a>
	<a href="{{global.host}}/login" class="btn btn-primary">Ingresar</a>
</div>
{% endblock %}