{% extends 'base.html.twig' %}

{% block title %}Zinobe | Registro {% endblock %}

{% block body %}

<div class="">
	<h1 class="text-center mb-4">Registro</h1>

	<form method="post" accept-charset="UTF-8" class="my-5">
		<div class="form-group">
			<label>Nombre</label>
			<input type="text" class="form-control" name="name" value="{{ formData.name }}">
			<small class="form-text text-danger">{{ formErrors.name }}</small>
		</div>
		<div class="form-group">
			<label>Email</label>
			<input type="email" class="form-control" name="email" value="{{ formData.email }}">
			<small class="form-text text-danger">{{ formErrors.email }}</small>
			<small class="form-text text-danger">{{ formErrors.duplicated }}</small>
		</div>
		<div class="form-group">
			<label>Documento</label>
			<input type="text" class="form-control" name="document" value="{{ formData.document }}">
			<small class="form-text text-danger">{{ formErrors.document }}</small>
			<small class="form-text text-danger">{{ formErrors.duplicated }}</small>
		</div>
		<div class="form-group">
			<label>País</label>
			<select class="form-control" name="country">
				<option></option>
				{% for country in countries %}
					<option value="{{ country.alpha2Code }}" {% if country.alpha2Code == formData.country %} selected {% endif %}>{{ country.name }}</option>
				{% endfor %}
			</select>
			<small class="form-text text-danger">{{ formErrors.country }}</small>
		</div>
		<div class="form-group">
			<label>Contraseña</label>
			<input type="password" class="form-control" name="password">
			<small class="form-text text-danger">{{ formErrors.password }}</small>
		</div>

		<button type="submit" class="btn btn-primary">Registrarme</button>
	</form>

</div>
{% endblock %}